*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
 background: #F5F6F7;
 color: #1F2933;
}

header {
    background: white;
    padding: 20px 40px;
}

.logo{
    display: inline-block;
}

.logo h2 {
 font-size: 22px;
 font-weight: 600;
 color: #1F7A63;
}

nav {
    float: right;
    display: inline-block;
    margin-left: 40px;
}

nav a {
 margin-left: 20px;
 text-decoration: none;
 color: #1F2933;
 font-size: 14px;
 font-weight: 500;
}

nav a:hover {
 border-bottom: 2px solid #1F7A63;
 color: #1F7A63;
}

