* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #1F2933;
    padding-top: 80px;
}

header {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
}

.logo h2 {
    font-size: 22px;
    font-weight: 600;
    color: #064E3B;
}

nav {
    float: right;
    margin-left: 40px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #1F2933;
    font-size: 14px;
    font-weight: 500;
}

nav a:hover {
    border-bottom: 2px solid #1F7A63;
    color: #1F7A63;
}

.hero {
    display: flex;
    /* Coloca lado a lado */
    align-items: center;
    /* Alinha verticalmente */
    justify-content: space-between;
    /* Espaço entre eles */
    padding: 60px 80px;
    gap: 40px;
    /* Espaço entre texto e imagem */
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 750;
}

.hero-text-section {
    font-style: italic;
    color: #176A21;
}

.hero-text p {
    margin-top: 20px;
    color: #5A5C5A;
}

.btn-primary {
    margin: 10px 10px 10px 0;
    background: #176A21;
    color: #D1FFC8;
    width: 130px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
}

.btn-primary:hover {
    cursor: pointer;
    color: #21a330;
    background: #D1FFC8;
    transition: 0.5s;
}

.btn-secondary {
    background: #FFC699;
    color: #6E3A00;
    width: 130px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
}

.btn-secondary:hover {
    cursor: pointer;
    color: #FFC699;
    background: #6E3A00;
    transition: 0.5s;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    transition: 0.4s ease;
}

.hero-image img:hover {
    transform: translateY(-10px) translateX(12px);
}

.services {
    margin: 40px 20px;
    background: #F0F1EE;
    border-radius: 25px;
}

.services-subtitle {
    padding: 35px;
    text-align: center;
}

.subtitle-sp {
    color: #005C15;
    background: #9DF197;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
}

h2 {
    font-size: 40px;
}

.services-cads {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border-radius: 20px;
    background: #ffffff;
    display: inline-block;
    width: 256px;
    height: 256px;
    margin-bottom: 50px;
}

.card:hover {
    cursor: pointer;
    background: #00ff2a2d;
    transition: 0.4s;
    transform: translateY(-8px) scale(1);
    box-shadow: 5px 13px 27px rgba(0, 0, 0, 0.486)
}


.card-servicos {
    padding: 32px;
}

.icon-card {
    background: #9DF197;
    border-radius: 50%;
}

h3 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 580;
    color: #2D2F2D;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.about {
    display: flex;
    align-items: center;
}

.about-image img {
    width: 50%;
    margin-left: 35%;
    border-radius: 30px;
    box-shadow: 5px 13px 27px rgba(0, 0, 0, 0.486);
}

.subtitle {
    color: #006096;
    font-size: 14px;
    display: inline-block;
    border-bottom: 3px solid #06d876;

}

.about-text {
    width: 40%;
    margin-right: 70px;
}

.about-title {
    padding: 10px 0 10px 0;
}

.about-item {
    display: block;
    margin-top: 15px;
}

.item {
    padding: 10px;
}

.contact {
    text-align: center;
    display: flex;
    background: #2d2f2d25;
    justify-content: center;
}

.contact-number {
    margin: 35px;
    border-radius: 30px;
    background: #ffffff;
    width: 80%;
}

.contact-number h2 {
    margin: 30px 0px 0px 30px;
}

.contact-number p {
    margin-left: 30px;
}

.btn-whatsapp {
    height: 55px;
    width: 200px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    background-color: #1af86b;
    color: #128c7e;
    margin: 15px;
}

.btn-whatsapp:hover {
    background: #00ff5e;
    color: white;
    transform: translateY(-1px) scale(1);
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.671);
}

footer {
    background: #1F2933;
    color: #D1FFC8;
    text-align: center;
    padding: 20px 0;
}

footer h3{
    font-size: 14px;
    margin: 0;
    color: #F0F1EE;
}